<H2>アカウント情報</H2>
<p>名前: <%= @user.name %></p>
<p>社員番号: <%= @user.employee_id %></p>
<p>メールアドレス: <%= @user.email %></p><br>

<%= link_to '編集', edit_user_registration_path(current_user) %>

<%= button_to '退会', registration_path(current_user), data: { confirm: ('本当によろしいですか？') }, method: :delete %>
