<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
       <%= form.label :勤務日　%>
       <%= form.date_select :attendance_date %>
     </div>

  <div class="field">
       <%= form.label :勤務開始 %>
       <%= form.time_select :attendance_time %>
     </div>
  
     <div class="field">
      <%= form.label :勤務終了 %>
      <%= form.time_select :leave_office_time %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  

<% end %>
