<div class="container-fluid text-center">
<H4><%= Time.now.strftime("%Y年%-m月%-d日") %></H4>
<%= render 'form', attendance: @attendance %>

<H3><%= @user.name %>/スケジュール・実績一覧</H3>

<H5>ログアップロード</H5>
<%= form_tag import_logs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>


<div class="row">
<div class="col-2"></div>
<div class="col-8 d-flex justify-content-center">

<%= month_calendar events: @attendances do |date, attendances| %>
  
  <%= date %>
 

  <% attendances.each do |attendance| %>
    <div>
     
     
        <td><%= attendance.attendance_time.strftime("%-H時%-M分") %></td>
        <td><%= attendance&.leave_office_time&.strftime("%-H時%-M分") %></td>
        <td><%= attendance.leave_office_time.to_i %></td>
        <td><%= attendance.attendance_time.to_i %></td>
        <td><%= attendance.user_id %></td>
        
        <td><%= attendance.leave_office_time.to_i - attendance.attendance_time.to_i - 30600 %></td>
        <td><%= link_to '修正', edit_attendance_path(attendance) %></td>
        <td><%= link_to '削除', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
  <% end %>
<% end %>


<%= month_calendar events: @logs do |date, logs| %>
  
  <%= date %>
 

  <% logs.each do |log| %>
    <div>
        <td><%= log.user_id %></td>
        <td><%= log&.log_time&.strftime("%-H時%-M分") %></td>
        <td><%= log.status %></td>
        
      </div>
  <% end %>
<% end %>
</div>



<div class="col-2"></div>
</div>